body { 
  background: url(Images/AboutMeBackground2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
	margin-top:10%;
	margin-right: 200px;
	margin-left: 5%;
	width: 650px; 
	min-height: 80%;
	color: white;
	text-shadow:1px 1px 1px #000;
	font-weight:lighter;
}

#emailme {
	background: url(Images/emailicon.png) no-repeat;
	padding-left: 30px;
}

::selection{
	color: black;
	background-color: white;
	text-shadow:1px 1px 1px #fff;

}

.icon {
	margin-right: 3px;
}